<?xml version="1.0"?>
<connectionStrings>
  <!-- REM: Ist nun die offizielle Test-Umgebung, da ja meine Entwicklungsumgebung nun die Präsentationsumgebung ist. -->
  <remove name="server"/>
  <add name="server" connectionString="Data Source=CORDB2019;Initial Catalog=COR_Basic_Entwicklung_V4;Persist Security Info=False;Integrated Security=SSPI;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Portal&quot;" providerName="System.Data.SqlClient"/>

  <remove name="COR-W11-112"/>
  <add name="COR-W11-112" connectionString="Data Source=COR-W11-112;Initial Catalog=COR_Basic_Demo_V4;Integrated Security=SSPI;Persist Security Info=False;MultipleActiveResultSets=False;Packet Size=4096;" providerName="System.Data.SqlClient"/>
</connectionStrings>