<?xml version="1.0" encoding="utf-8"?>

<!--
  Informationen zur Konfiguration Ihrer ASP.NET-Anwendung finden Sie unter
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<system.net>
		<connectionManagement>
			<!--REM: Damit im BIM.ashx alle SVG asynchron parallel heruntergeladen werden können-->
			<!--REM: \Portal\Portal\Resources\Handlers\BIM.ashx-->
			<add address="*" maxconnection="20" />
		</connectionManagement>
	</system.net>

	<system.web>
		<customErrors mode="Off">
			<error statusCode="404" redirect="~/w8/index.html" />
		</customErrors>

		<compilation debug="true" strict="true" explicit="true" targetFramework="4.0" />

		<globalization culture="de-ch" uiCulture="de-ch" requestEncoding="UTF-8" responseEncoding="UTF-8" />
		<httpRuntime maxRequestLength="2048000" executionTimeout="86400" requestValidationMode="2.0" requestPathInvalidCharacters="" />
		
    </system.web>


	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<directoryBrowse enabled="true" />
		<security>
			<requestFiltering allowDoubleEscaping="true">
				<!-- 2 GiB-->
				<requestLimits maxQueryString="5120" maxUrl="5120" maxAllowedContentLength="2147483648" />
			</requestFiltering>
		</security>
		<httpProtocol>
			<customHeaders>
				<!--
				  <add name="Access-Control-Allow-Origin" value="*" />
				  <add name="Access-Control-Allow-Headers" value="Content-Type" />
				  <add name="Access-Control-Allow-Methods" value="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" />
				  -->
				<remove name="X-Powered-By" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>
