@page
@{
    Layout = "_DefaultLayout.master";
    ViewData["Title"] = "Under Construction";
}

    <style>

        .centered-div
        {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
        }

    </style>
    
<div class="centered-div">
    <img src="~/img/construction-tape.svg" alt="Under Construction Tape" title="This website is under construction" asp-append-version="true" />
</div>